
// Reset and global styles
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  html, body {
    position: relative;
    width: 100%;
    height: 100%;
  }

  section{
    margin-bottom: 50px;
  }

  .download-btn{
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    background-color: #5D755D;
    color: #fff;
    font-size: 16px;
  }

  header {
    background-color: #fff;
    position: fixed;
    z-index: 999;
    top: 0;
    width: 100%;
    padding: 5px 0;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.11);

    .mobile-nav{
        display: none;
    }

    .desktop-nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        box-shadow: 2px #000;
    }

                // Navbar elements
                .logo{
                    width: 100px;
                    height: 80px;
            
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                      }
                }
              
                .menu {
                  width: 592px;
                  display: flex;
                  flex-direction: row;
                  gap: 30px;
              
                  ul {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    gap: 35px;
            
              
                    li {
                        list-style-type: none;
                        font-size: 16px;
                        font-weight: 400;
                        text-align: left;
                        font-family: 'Roboto', sans-serif;
                        text-transform: uppercase;
                        line-height: 19px;
                        letter-spacing: 0em;
                    }
                  }
                  .download-btn{
                    padding: 5px 10px;
                    border-radius: 5px;
                    border: none;
                    background-color: #5D755D;
                    color: #fff;
                    font-size: 16px;
                  }
                }
            
                .mobile-number{
            
                    a{
                        font-weight: 600;
                        font-size: 20px;
                    }
                }
  
  }
  @media screen and (max-width:768px) {
    header{
        background-color: #fff;
        position: fixed;
        z-index: 999;
        top: 0;
        width: 100%;
        padding: 5px 0;
        box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.11);
        .desktop-nav{
            display: none;
        }



        .mobile-nav{
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 5px 15px;
            justify-content: space-between;
            .logo{
                width: 100px;
                height: 80px;
        
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                  }
            }

            .download-btn{
                padding: 5px 10px;
                border-radius: 5px;
                border: none;
                background-color: #5D755D;
                color: #fff;
                font-size: 16px;
              }
        }
    }
  }

  main{
    margin-top: 90px;
    position: relative;

    .banner-section{
        width: 100%;
        position: relative;

        .swiper {
            width: 100%;
            height: 100%;

            .swiper-wrapper{
                .swiper-slide {
                    text-align: center;
                    font-size: 18px;
                    background: #fff;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .img-container{
                        width: 100%;
                        height: 600px;

                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                  }
            }

          }

        .banner{
            .banner-container{
                display: flex;
                flex-direction: column;
                background-color: #fff;
                border-radius: 5px;
                width: 400px;
                padding: 50px 40px;
                position: absolute;
                top: 10%;
                left: 5%;
                z-index: 99;

                h5{
                    color: #5D755D;
                    text-transform: uppercase;
                    text-align: center;
                    font-size: 15px;
                    font-weight: 100;
                }

                .img-container{
                    width: 100%;
                    height: 100px;
                    margin-bottom: 20px;

                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }

                .room-starting{
                    background-color: #5D755D;
                    padding: 10px 10px;
                    text-align: center;
                    margin-bottom: 20px;
                    
                    span{
                        text-transform: uppercase;
                        color: #fff;
                        font-weight: 400;
                    }
                }

                h2{
                    text-align: center;
                    text-transform: uppercase;
                    color: #5D755D;
                    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    font-size: 30px;
                }

                .tvs-logo-container{
                    width: 100%;
                    height: 80px;

                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }

                .location{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    margin-bottom: 10px;
                    
                    p{
                        margin-bottom: 0px;
                        color: #5D755D;
                        text-transform: uppercase;
                        letter-spacing: 1px;
                        font-size: 15px;
                        font-weight: 500;
                    }
                    i{
                        color: #5D755D;

                    }
                }

                P{
                    text-align: center;
                    font-size: 10px;
                    color: #5D755D;
                    text-transform: uppercase;
                }
            }

        }
    }
    @media screen and (max-width:768px) {
        .banner-section{
            .banner{
                
                .banner-container{
                    display: flex;
                    flex-direction: column;
                    background-color: #fff;
                    border-radius: 5px;
                    width: 90%;
                    padding: 50px 40px;
                    position: absolute;
                    top: 70%;
                    left:5%;
                    right: 5%;
                    z-index: 99;
    
                    h5{
                        color: #5D755D;
                        text-transform: uppercase;
                        text-align: center;
                        font-size: 15px;
                        font-weight: 100;
                    }
    
                    .img-container{
                        width: 100%;
                        height: 100px;
                        margin-bottom: 20px;
    
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }
                    }
    
                    .room-starting{
                        background-color: #5D755D;
                        padding: 10px 10px;
                        text-align: center;
                        margin-bottom: 20px;
                        
                        span{
                            text-transform: uppercase;
                            color: #fff;
                            font-weight: 400;
                        }
                    }
    
                    h2{
                        text-align: center;
                        text-transform: uppercase;
                        color: #5D755D;
                        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                        font-size: 30px;
                    }
    
                    .tvs-logo-container{
                        width: 100%;
                        height: 80px;
    
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }
                    }
    
                    .location{
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        gap: 10px;
                        margin-bottom: 10px;
                        
                        p{
                            margin-bottom: 0px;
                            color: #5D755D;
                            text-transform: uppercase;
                            letter-spacing: 1px;
                            font-size: 15px;
                            font-weight: 500;
                        }
                        i{
                            color: #5D755D;
    
                        }
                    }
    
                    P{
                        text-align: center;
                        font-size: 10px;
                        color: #5D755D;
                        text-transform: uppercase;
                    }
                }
    
            }
        }
    }

    
    .about-vengaivasal{
        padding: 0px 80px;

        .flex-grid{
            display: grid;
            grid-template-columns:repeat(3, 1fr);
            grid-gap: 80px; 

            .about-vengaivasal-elem{
                text-align: center;

    
                .img-container{
                    width: 100%;
                    height: 80px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;

                    .Neighborhood{
                        width: 100%;
                        height: 60px;

                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }
                    }
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }
    
                h3{
                    margin-top: 10px;
                    font-size: 22px;
                }
    
                ul{
                    text-align: left;
                    margin-top: 20px;
                    list-style-type:circle;

                    
                    li{
                        font-size: 18px;
                        font-weight: 500;
                    }
                }
            }
        }

    }
    @media screen and (max-width:768px){
        .about-vengaivasal{
            padding: 0px 80px;
            margin-top: 100%;
    
            .flex-grid{
                display: grid;
                grid-template-columns:repeat(1, 1fr);
                grid-gap: 80px; 
            }
        }
    }


    .project-gallery{
        .gallery-container{
            display: flex;
            flex-direction: row;
            gap: 20px;
            justify-content: center;
            .img-container{
                cursor: pointer;
                width: 100%;
                height: 230px;
                padding: 15px;
                border: 1px solid #ccc;
                border-radius: 5px;

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

    }
    @media screen and (max-width:768px){
        .project-gallery{
            .gallery-container{
                display: flex;
                flex-direction: column;
                gap: 20px;
                align-items: center;
            }
        }
    }

    .connectivity-section{
        text-align: center;

        .connectivity-elem{
            display: flex;
            flex-direction: row;
            align-items: start;

            .elem-container{
                width: 33.33%;
                padding: 0 20px;
                display: flex;
                flex-direction: column;
                gap: 10px;
                justify-content: space-between;

                .img-container{
                    width: 100%;
                    height: 30px;

                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }

                p{
                    font-size: 18px;
                    font-weight: 500;
                }
            }
        }
    }
    @media screen and (max-width:768px){
        .connectivity-section{
            text-align: center;
    
            .connectivity-elem{
                display: flex;
                flex-direction: column;
                justify-content: start;

                .elem-container{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    justify-content: space-between;
                }
            }
        }
    }

    .nearby-section{
        .nearby-container{
            display: grid;
            grid-template-columns:repeat(4, 1fr);
            grid-gap: 20px; 
            .nearby-elem{
                background-color: #5d755d57;
                border-radius: 5px;
                padding: 10px 10px 10px 0px;
                h2{
                    text-align: center;
                    font-size: 18px;
                    text-transform: uppercase ;
                }

                .elem-container{
                    display: flex;
                    flex-direction: row;
                    justify-content: start;
                    padding-left: 35px;
                    align-items: start;
                    gap: 10px;
                    padding-bottom: 5px;

                    ul{

                        list-style-type: circle;

                        li{
                            font-size: 15px;
                            font-weight: 400;
                        }
                    }

                }
            }
        }
    }
    @media screen and (max-width:768px){
        .nearby-section{
            .nearby-container{
                display: grid;
                grid-template-columns:repeat(1, 1fr);
                grid-gap: 20px; 
            }
        }
    }

    .about-developer{
        display: flex;
        flex-direction: column;
        align-items: center;

        .tvs-logo-container{
            width: 100%;
            height: 150px;

            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        p{
            text-align: left;
            font-weight: 500;
            font-size: 18px;
        }

        .table{
            display: grid;
            grid-template-columns:repeat(2, 1fr);
            border: 1px solid #ccc;

            .table-elem{
                display: flex;
                flex-direction: row;
                align-items: start;
                justify-content: start;
                border: 1px solid #ccc;
                padding: 10px;

                .left-elem{
                    width: 30%;
                    font-size: 18px;
                    font-weight: 500;
                    color: #5e5e5ed3;

                }
                .right-elem{
                    width: 70%;
                    font-size: 18px;
                    font-weight: 500;
                    color: #5e5e5ed3;
                }
            }
        }
        @media screen and (max-width:768px){
            .table{
                display: grid;
                grid-template-columns:repeat(1, 1fr);
                border: 1px solid #ccc;
    
                .table-elem{
                    display: flex;
                    flex-direction: row;
                    align-items: start;
                    justify-content: start;
                    border: 1px solid #ccc;
                    padding: 10px;
    
                    .left-elem{
                        width: 30%;
                        font-size: 18px;
                        font-weight: 500;
                        color: #5e5e5ed3;
    
                    }
                    .right-elem{
                        width: 70%;
                        font-size: 18px;
                        font-weight: 500;
                        color: #5e5e5ed3;
                    }
                }
            }
        }

        .highlights{
            display:flex;
            flex-direction: column;

            .highlight-title{     

                margin-top: 30px;
                background-color: #5D755D;
                color: #fff;
                text-transform: uppercase;
                text-align: center;
                border-radius: 5px;
            }    
            
            .highlight-content{
                margin-top: 30px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                .highlight-elem{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 50%;

                    span{
                        color: #5D755D;
                        font-size: 50px;
                        font-weight: 600;
                    }

                    p{
                        font-size: 20px;
                        text-transform: capitalize;
                        text-align: center;
                    }
                }
            }
        }
        @media screen and (max-width:768px){
            .highlights{
                display:flex;
                flex-direction: column;
    
                .highlight-title{     
    
                    margin-top: 30px;
                    background-color: #5D755D;
                    color: #fff;
                    text-transform: uppercase;
                    text-align: center;
                    border-radius: 5px;
                }    
                
                .highlight-content{
                    margin-top: 30px;
                    display: grid;
                    grid-template-columns:repeat(2, 1fr);
                    grid-gap: 20px;
    
                    .highlight-elem{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        width: 100%;
    
                        span{
                            color: #5D755D;
                            font-size: 50px;
                            font-weight: 600;
                        }
    
                        p{
                            font-size: 20px;
                            text-transform: capitalize;
                            text-align: center;
                        }
                    }
                }
            }
        }

    }

    .master-plan-layout{

        .img-container{
            background-color: #FFF;
            width: 100%;
            height: 600px;
            

            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
    @media screen and (max-width:768px){
        .master-plan-layout{

            .img-container{
                background-color: #FFF;
                width: 100%;
                height: 300px;
                
    
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
    }


    .room-section{
        display: flex;
        flex-direction: column;

        h3{
            width: 100%;
            text-align: center;
            font-size: 30px;
        }
        #rooms{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            margin: 20px;   

            .swiper2 {
                width: 100%;
                height: 100%;
                overflow-x: hidden;
              }
          
              .swiper-slide {
                text-align: center;
                font-size: 18px;
                background: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
              }
          
              .swiper-slide img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            
            .room {
                width: 300px;
                margin: 20px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .upper-container{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    .img-container{
                        width: 100%;
                        height: 300px;
                        background-color: #5d755d52;
                        padding: 10px 0px;
                        border-radius: 10px;
                        filter: blur(4px);
                        
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                          }
                    }
        
                    ul{
                        display: flex;
                        flex-direction: row;
                        gap: 10px;
                        width: 500px;
                        

                        li{
                            list-style: none;
                            background-color: #5D755D;
                            border-radius: 5px;
                            color: #fff;
                            text-transform: uppercase;
                            padding: 5px 10px;
                            font-size: 10px;
                            font-weight:
                             600;
                        }
                    }
                }

                .lower-container{

                    .button-container{
                        display: flex;
                        flex-direction: row;
                        gap: 20px;
                        .enqury-btn{
                            width: 100%;
                            background-color: #fff;
                            color: #5D755D;
                            border: 1px solid #5D755D;
                            border-radius: 10px;
                            padding: 5px 20px;
                            margin-top: 10px;
                            cursor: pointer;
                        }
                        .more-info-btn {
                            width: 100%;
                            background-color: #5D755D;
                            color: #fff;
                            border: none;
                            border-radius: 10px;
                            padding: 5px 20px;
                            margin-top: 10px;
                            cursor: pointer;
                          }
                    }
                }
    
                .hidden{
                    display: none;
                }
    
                .details{
                    h2{
                        color: #456845;
                    }
                }
              }
        }
    }

  }

  footer{
    background-color: #45684537;
    padding: 20px;

    p{
        text-align: center;
    }
  }

//   footer{

//     .footer-container{
//         display: flex;
//         flex-direction: row;

//         .right-footer{
//             width: 50%;
//             h2{
//                 text-align: center;
//                 margin-bottom: 30px;
//             }

//             ul{
//                 list-style-type: none;

//                 display: flex;
//                 align-items: center;
//                 flex-direction: column;
//                 gap: 60px;
//                 li{
//                     display: flex;
//                     flex-direction: row;
//                     align-items: center;
//                     gap: 10px;

//                     i{
//                         color: #476847;
//                         font-size: 50px;
//                     }

//                     p{
//                         margin-bottom: 0px;
//                         font-size: 18px;
//                         font-weight: 500;
//                     }

//                 }
//             }

//         }
//         .left-footer{
//             width: 50%;


//         }
//     }
//   }
//   @media screen and (max-width:768px){
//     footer{
//         display: none;
//     }
//   }

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;

    .popup-content {
        position: absolute;
        width: 400px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        text-align: center; /* Align form items in the center */
    
        h2{
            color: #000;
            font-weight: 400;
        }
    
        .close-btn {
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
            font-size: 40px;
          }
    
          .close-btn:hover {
            color: #456845;
          }

          form{
                input, textarea{
                    width: 100%;
                    padding: 8px;
                    margin-bottom: 10px;
                    box-sizing: border-box;
                    border: 1px solid #45684579;
                    color: #456845;
                    outline: none;                    
                }

            button{
                background-color: #5D755D; /* Change button color */
                color: #fff;
                width: 100%;
            
                padding: 10px 20px;
                border: none;
                border-radius: 5px;
                cursor: pointer;
            }

            button:hover{
                background-color: #456845; /* Change button hover color */
            }
        }
      }
}
  

  
  .lightbox-images-container{

    
    .img-container{
        cursor: pointer;
        background-color: #fff;
    }
  }

  .lightbox{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    height: 100%;
    width: 100%;
    z-index: 1000;
    display: none;

    span{
        position: absolute;
        top:0;
        right: 10px;
        font-size: 60px;
        font-weight: bolder;
        color: white;
        cursor: pointer;
        z-index: 100;
    }
    @media screen and (max-width:768px) {
        .img-container{
            width: 95%;
        }
    }
    .img-container{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 500px;

        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}

/* Add media query for mobile devices */
  .overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0); /* Transparent background */
    width: 0;
    overflow-x: hidden;
    transition: background-color 0.5s, width 0.5s;
    z-index: 999;

    /* Additional styles for mobile responsiveness */

    .overlay-content {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        top: 0;
        right: 0;
        bottom: 0;
        width: 50%; /* 50% of viewport width */
        background-color: #fff;
        padding: 20px;
        box-sizing: border-box;
        overflow-y: auto; /* Enable scrolling if content exceeds viewport height */

        h2{
           color: #456845;
           margin-bottom: 10px;
        }

        h6{
            background-color: #456845;
            text-align: center;
            width: 50%;
            color: #fff;
            margin-bottom: 20px;
            padding: 5px;
            text-transform: uppercase;
        }

        table,tr,td,th{           
            text-transform: uppercase;
            text-align: center;
            font-weight: 500;
            border: 1px solid #00000066;
            border-collapse: collapse;
        }

        table{
            margin-bottom: 20px;
            tr{
                th,td{
                    padding: 10px;
                }
            }
        }

        ul{
            padding: 10px 30px 20px 30px;
            list-style-type: circle;
            h5{
                padding-top: 20px;
                padding-bottom: 20px;
            }
        }
    }

    .close-btn {
        position: absolute;
        top: 20px;
        right: 20px;
        background-color: #456845ad;
        color: #fff;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
      }
  }

  @media (max-width: 768px) {
    .overlay{
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0); /* Transparent background */
        width: 0;
        overflow-x: hidden;
        transition: background-color 0.5s, width 0.5s;
        z-index: 999;
        .overlay-content {
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;
            top: 0;
            right: 0;
            bottom: 0;
            width: 100%; /* 50% of viewport width */
            background-color: #fff;
            padding: 20px;
            box-sizing: border-box;
            overflow-y: auto; /* Enable scrolling if content exceeds viewport height */
    
            h2{
               color: #456845;
               margin-bottom: 10px;
            }
    
            h6{
                background-color: #456845;
                text-align: center;
                width: 50%;
                color: #fff;
                margin-bottom: 20px;
                padding: 5px;
                text-transform: uppercase;
            }
    
            table,tr,td,th{           
                text-transform: uppercase;
                text-align: center;
                font-weight: 500;
                border: 1px solid #00000066;
                border-collapse: collapse;
            }
    
            table{
                margin-bottom: 20px;
                tr{
                    th,td{
                        padding: 10px;
                    }
                }
            }
    
            ul{
                padding: 10px 30px 20px 30px;
                list-style-type: circle;
                h5{
                    padding-top: 20px;
                    padding-bottom: 20px;
                }
            }
        }
    }

  }

  .overlay.active {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    width: 100%; /* Full width */
  }

  .title{
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
}
button{
    cursor: pointer;
    a{
        color: #fff;
    }
}
.blur{
    filter: blur(3px);
}

.WhatsApp-btn{
    position: fixed;
    z-index: 100000;
    bottom: 5%;
    right: 2%;
    cursor: pointer;

    .img-container{
        width: 100%;
        height: 65px;

        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}