* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html, body {
  position: relative;
  width: 100%;
  height: 100%;
}

section {
  margin-bottom: 50px;
}

header {
  background-color: #fff;
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100%;
  padding: 5px 0;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.11);
}
header .top-bar {
  display: none;
}
header .mobile-nav {
  display: none;
}
header .desktop-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 2px #000;
}
header .logo {
  width: 100px;
  height: 80px;
}
header .logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
header .menu {
  width: 592px;
  display: flex;
  flex-direction: row;
  gap: 30px;
}
header .menu ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 35px;
}
header .menu ul li {
  list-style-type: none;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  line-height: 19px;
  letter-spacing: 0em;
}
header .menu .download-btn {
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  background-color: #5D755D;
  color: #fff;
  font-size: 16px;
}
header .mobile-number a {
  font-weight: 600;
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  header {
    background-color: #fff;
    position: fixed;
    z-index: 999;
    top: 0;
    width: 100%;
    padding: 5px 0;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.11);
  }
  header .desktop-nav {
    display: none;
  }
  header .top-bar {
    display: block;
  }
  header .top-bar .mobile-number {
    text-align: center;
  }
  header .mobile-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 15px;
    justify-content: space-between;
  }
  header .mobile-nav .logo {
    width: 100px;
    height: 80px;
  }
  header .mobile-nav .logo img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  header .mobile-nav .download-btn {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    background-color: #5D755D;
    color: #fff;
    font-size: 16px;
  }
}
main {
  margin-top: 90px;
  position: relative;
}
main .banner-section {
  width: 100%;
  position: relative;
}
main .banner-section .swiper {
  width: 100%;
  height: 100%;
}
main .banner-section .swiper .swiper-wrapper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .banner-section .swiper .swiper-wrapper .swiper-slide .img-container {
  width: 100%;
  height: 600px;
}
main .banner-section .swiper .swiper-wrapper .swiper-slide .img-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .banner-section .banner .banner-container {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 5px;
  width: 400px;
  padding: 50px 40px;
  position: absolute;
  top: 10%;
  left: 5%;
  z-index: 99;
}
main .banner-section .banner .banner-container h5 {
  color: #5D755D;
  text-transform: uppercase;
  text-align: center;
  font-size: 15px;
  font-weight: 100;
}
main .banner-section .banner .banner-container .img-container {
  width: 100%;
  height: 100px;
  margin-bottom: 20px;
}
main .banner-section .banner .banner-container .img-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
main .banner-section .banner .banner-container .room-starting {
  background-color: #5D755D;
  padding: 10px 10px;
  text-align: center;
  margin-bottom: 20px;
}
main .banner-section .banner .banner-container .room-starting span {
  text-transform: uppercase;
  color: #fff;
  font-weight: 400;
}
main .banner-section .banner .banner-container h2 {
  text-align: center;
  text-transform: uppercase;
  color: #5D755D;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 30px;
}
main .banner-section .banner .banner-container .tvs-logo-container {
  width: 100%;
  height: 80px;
}
main .banner-section .banner .banner-container .tvs-logo-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
main .banner-section .banner .banner-container .location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
main .banner-section .banner .banner-container .location p {
  margin-bottom: 0px;
  color: #5D755D;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 15px;
  font-weight: 500;
}
main .banner-section .banner .banner-container .location i {
  color: #5D755D;
}
main .banner-section .banner .banner-container P {
  text-align: center;
  font-size: 10px;
  color: #5D755D;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  main .banner-section .banner .banner-container {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 5px;
    width: 90%;
    padding: 50px 40px;
    position: absolute;
    top: 70%;
    left: 5%;
    right: 5%;
    z-index: 99;
  }
  main .banner-section .banner .banner-container h5 {
    color: #5D755D;
    text-transform: uppercase;
    text-align: center;
    font-size: 15px;
    font-weight: 100;
  }
  main .banner-section .banner .banner-container .img-container {
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
  }
  main .banner-section .banner .banner-container .img-container img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  main .banner-section .banner .banner-container .room-starting {
    background-color: #5D755D;
    padding: 10px 10px;
    text-align: center;
    margin-bottom: 20px;
  }
  main .banner-section .banner .banner-container .room-starting span {
    text-transform: uppercase;
    color: #fff;
    font-weight: 400;
  }
  main .banner-section .banner .banner-container h2 {
    text-align: center;
    text-transform: uppercase;
    color: #5D755D;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 30px;
  }
  main .banner-section .banner .banner-container .tvs-logo-container {
    width: 100%;
    height: 80px;
  }
  main .banner-section .banner .banner-container .tvs-logo-container img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  main .banner-section .banner .banner-container .location {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
  }
  main .banner-section .banner .banner-container .location p {
    margin-bottom: 0px;
    color: #5D755D;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 15px;
    font-weight: 500;
  }
  main .banner-section .banner .banner-container .location i {
    color: #5D755D;
  }
  main .banner-section .banner .banner-container P {
    text-align: center;
    font-size: 10px;
    color: #5D755D;
    text-transform: uppercase;
  }
}
main .about-vengaivasal {
  padding: 0px 80px;
}
main .about-vengaivasal .flex-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 80px;
}
main .about-vengaivasal .flex-grid .about-vengaivasal-elem {
  text-align: center;
}
main .about-vengaivasal .flex-grid .about-vengaivasal-elem .img-container {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
main .about-vengaivasal .flex-grid .about-vengaivasal-elem .img-container .Neighborhood {
  width: 100%;
  height: 60px;
}
main .about-vengaivasal .flex-grid .about-vengaivasal-elem .img-container .Neighborhood img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
main .about-vengaivasal .flex-grid .about-vengaivasal-elem .img-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
main .about-vengaivasal .flex-grid .about-vengaivasal-elem h3 {
  margin-top: 10px;
  font-size: 22px;
}
main .about-vengaivasal .flex-grid .about-vengaivasal-elem ul {
  text-align: left;
  margin-top: 20px;
  list-style-type: circle;
}
main .about-vengaivasal .flex-grid .about-vengaivasal-elem ul li {
  font-size: 18px;
  font-weight: 500;
}
@media screen and (max-width: 768px) {
  main .about-vengaivasal {
    padding: 0px 80px;
    margin-top: 100%;
  }
  main .about-vengaivasal .flex-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 80px;
  }
}
main .project-gallery .gallery-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}
main .project-gallery .gallery-container .img-container {
  cursor: pointer;
  width: 100%;
  height: 230px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
main .project-gallery .gallery-container .img-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 768px) {
  main .project-gallery .gallery-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
}
main .connectivity-section {
  text-align: center;
}
main .connectivity-section .connectivity-elem {
  display: flex;
  flex-direction: row;
  align-items: start;
}
main .connectivity-section .connectivity-elem .elem-container {
  width: 33.33%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
}
main .connectivity-section .connectivity-elem .elem-container .img-container {
  width: 100%;
  height: 30px;
}
main .connectivity-section .connectivity-elem .elem-container .img-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
main .connectivity-section .connectivity-elem .elem-container p {
  font-size: 18px;
  font-weight: 500;
}
@media screen and (max-width: 768px) {
  main .connectivity-section {
    text-align: center;
  }
  main .connectivity-section .connectivity-elem {
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
  main .connectivity-section .connectivity-elem .elem-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
  }
}
main .nearby-section .nearby-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}
main .nearby-section .nearby-container .nearby-elem {
  background-color: rgba(93, 117, 93, 0.3411764706);
  border-radius: 5px;
  padding: 10px 10px 10px 0px;
}
main .nearby-section .nearby-container .nearby-elem h2 {
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
}
main .nearby-section .nearby-container .nearby-elem .elem-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  padding-left: 35px;
  align-items: start;
  gap: 10px;
  padding-bottom: 5px;
}
main .nearby-section .nearby-container .nearby-elem .elem-container ul {
  list-style-type: circle;
}
main .nearby-section .nearby-container .nearby-elem .elem-container ul li {
  font-size: 15px;
  font-weight: 400;
}
@media screen and (max-width: 768px) {
  main .nearby-section .nearby-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
  }
}
main .about-developer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .about-developer .tvs-logo-container {
  width: 100%;
  height: 150px;
}
main .about-developer .tvs-logo-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
main .about-developer p {
  text-align: left;
  font-weight: 500;
  font-size: 18px;
}
main .about-developer .table {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border: 1px solid #ccc;
}
main .about-developer .table .table-elem {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  border: 1px solid #ccc;
  padding: 10px;
}
main .about-developer .table .table-elem .left-elem {
  width: 30%;
  font-size: 18px;
  font-weight: 500;
  color: rgba(94, 94, 94, 0.8274509804);
}
main .about-developer .table .table-elem .right-elem {
  width: 70%;
  font-size: 18px;
  font-weight: 500;
  color: rgba(94, 94, 94, 0.8274509804);
}
@media screen and (max-width: 768px) {
  main .about-developer .table {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    border: 1px solid #ccc;
  }
  main .about-developer .table .table-elem {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    border: 1px solid #ccc;
    padding: 10px;
  }
  main .about-developer .table .table-elem .left-elem {
    width: 30%;
    font-size: 18px;
    font-weight: 500;
    color: rgba(94, 94, 94, 0.8274509804);
  }
  main .about-developer .table .table-elem .right-elem {
    width: 70%;
    font-size: 18px;
    font-weight: 500;
    color: rgba(94, 94, 94, 0.8274509804);
  }
}
main .about-developer .highlights {
  display: flex;
  flex-direction: column;
}
main .about-developer .highlights .highlight-title {
  margin-top: 30px;
  background-color: #5D755D;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  border-radius: 5px;
}
main .about-developer .highlights .highlight-content {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
main .about-developer .highlights .highlight-content .highlight-elem {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
}
main .about-developer .highlights .highlight-content .highlight-elem span {
  color: #5D755D;
  font-size: 50px;
  font-weight: 600;
}
main .about-developer .highlights .highlight-content .highlight-elem p {
  font-size: 20px;
  text-transform: capitalize;
  text-align: center;
}
@media screen and (max-width: 768px) {
  main .about-developer .highlights {
    display: flex;
    flex-direction: column;
  }
  main .about-developer .highlights .highlight-title {
    margin-top: 30px;
    background-color: #5D755D;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    border-radius: 5px;
  }
  main .about-developer .highlights .highlight-content {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
  main .about-developer .highlights .highlight-content .highlight-elem {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  main .about-developer .highlights .highlight-content .highlight-elem span {
    color: #5D755D;
    font-size: 50px;
    font-weight: 600;
  }
  main .about-developer .highlights .highlight-content .highlight-elem p {
    font-size: 20px;
    text-transform: capitalize;
    text-align: center;
  }
}
main .master-plan-layout .img-container {
  background-color: #FFF;
  width: 100%;
  height: 600px;
}
main .master-plan-layout .img-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media screen and (max-width: 768px) {
  main .master-plan-layout .img-container {
    background-color: #FFF;
    width: 100%;
    height: 300px;
  }
  main .master-plan-layout .img-container img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
main .room-section {
  display: flex;
  flex-direction: column;
}
main .room-section h3 {
  width: 100%;
  text-align: center;
  font-size: 30px;
}
main .room-section #rooms {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px;
}
main .room-section #rooms .room {
  width: 300px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main .room-section #rooms .room .upper-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
main .room-section #rooms .room .upper-container .img-container {
  width: 100%;
  height: 300px;
  background-color: rgba(93, 117, 93, 0.3215686275);
  padding: 10px 0px;
  border-radius: 10px;
}
main .room-section #rooms .room .upper-container .img-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
main .room-section #rooms .room .upper-container ul {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 500px;
}
main .room-section #rooms .room .upper-container ul li {
  list-style: none;
  background-color: #5D755D;
  border-radius: 5px;
  color: #fff;
  text-transform: uppercase;
  padding: 5px 10px;
  font-size: 10px;
  font-weight: 600;
}
main .room-section #rooms .room .lower-container .button-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
main .room-section #rooms .room .lower-container .button-container .enqury-btn {
  width: 100%;
  background-color: #fff;
  color: #5D755D;
  border: 1px solid #5D755D;
  border-radius: 10px;
  padding: 5px 20px;
  margin-top: 10px;
  cursor: pointer;
}
main .room-section #rooms .room .lower-container .button-container .more-info-btn {
  width: 100%;
  background-color: #5D755D;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 5px 20px;
  margin-top: 10px;
  cursor: pointer;
}
main .room-section #rooms .room .hidden {
  display: none;
}

footer .footer-container {
  display: flex;
  flex-direction: row;
}
footer .footer-container .right-footer {
  width: 50%;
}
footer .footer-container .right-footer h2 {
  text-align: center;
  margin-bottom: 30px;
}
footer .footer-container .right-footer ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 60px;
}
footer .footer-container .right-footer ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
footer .footer-container .right-footer ul li i {
  color: #476847;
  font-size: 50px;
}
footer .footer-container .right-footer ul li p {
  margin-bottom: 0px;
  font-size: 18px;
  font-weight: 500;
}
footer .footer-container .left-footer {
  width: 50%;
}
footer .footer-container .left-footer form {
  background-color: #ccc;
  padding: 30px;
  border-radius: 5px;
}
footer .footer-container .left-footer h2 {
  text-align: center;
}
footer .footer-container .left-footer .form-group {
  margin-bottom: 20px;
}
footer .footer-container .left-footer label {
  display: block;
  margin-bottom: 5px;
}
footer .footer-container .left-footer input[type=text],
footer .footer-container .left-footer input[type=email],
footer .footer-container .left-footer input[type=tel],
footer .footer-container .left-footer textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
footer .footer-container .left-footer textarea {
  resize: vertical;
}
footer .footer-container .left-footer button {
  width: 100%;
  padding: 10px;
  background-color: #5D755D;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
footer .footer-container .left-footer button:hover {
  background-color: #476847;
}

@media screen and (max-width: 768px) {
  footer {
    display: none;
  }
}
.lightbox-images-container .img-container {
  cursor: pointer;
  background-color: #fff;
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  height: 100%;
  width: 100%;
  z-index: 1000;
  display: none;
}
.lightbox span {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 60px;
  font-weight: bolder;
  color: white;
  cursor: pointer;
  z-index: 100;
}
@media screen and (max-width: 768px) {
  .lightbox .img-container {
    width: 95%;
  }
}
.lightbox .img-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 500px;
}
.lightbox .img-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0); /* Transparent background */
  width: 0;
  overflow-x: hidden;
  transition: background-color 0.5s, width 0.5s;
  z-index: 999;
  /* Additional styles for mobile responsiveness */
}
@media (max-width: 768px) {
  .overlay .overlay-content {
    width: 100%; /* 100% of viewport width for mobile */
  }
}
.overlay .overlay-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50%; /* 50% of viewport width */
  background-color: #fff;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto; /* Enable scrolling if content exceeds viewport height */
}
.overlay .close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.overlay.active {
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  width: 100%; /* Full width */
}

.title {
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
}

button {
  cursor: pointer;
}
button a {
  color: #fff;
}/*# sourceMappingURL=style.css.map */